/* 
  RESETS
/*-----------------------------------------------------*/
html{
  box-sizing: border-box;
  width:100%;height:100%;
  margin:0;padding:0;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  width:100%;height:100%;margin:0;padding:0;
  font-family: Roboto,Arial, Helvetica, sans-serif;
}
*, *:before, *:after {
	box-sizing: inherit;
}
header ul, menu, dir {
    margin-block-end: 0;
    margin-block-start: 0;
    padding-inline-start: 0;
    -webkit-padding-start: 0;
}
a{text-decoration:none;color:rgb(22, 10, 2);}
:root {
  --red: #C5004A;
  --darkred: #7F0036;
  --lightgray: #e0e0e0;
  --gray: #C0C0C0;
  --darkgray: #333;
  --navy: #17050F;
  --blue: #082840;
  --white: #fff;
}
* {
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cabin|Roboto:400,700|Roboto+Condensed:400,700');

/* 
  LAYOUT
/*-----------------------------------------------------*/
:root{
	--maxSiteWidth:1080px;
}
main{
  margin: 90px auto;padding:1em;
}
header {
    display: flex;
    flex-flow: row nowrap;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(255,255,255,1);
    height: 80px;
    border-bottom: rgba(44,44,44,.6) 1px solid;
    margin: 0 auto 0 auto;
}
.logo {
    height:80px;
    flex: 0 0 200px;
    font-size:42px;display:block;text-align:center;align-items:center;justify-content:center;margin:14px auto;
}

/*  
   MAIN MENU MOBILE FIRST
/*-------------------------------------------------------*/
nav{flex:1 auto;}
.mainMenu{
  position: fixed;top:0;left: 0;right: 0;
  margin:100px auto 0 auto;
	height:90%;/**hack for opera mini**/
	height:calc(100% - 79px);
  width:100%;
  flex-flow:column nowrap;
  align-content:stretch;
  display:none;
}
.mainMenu a{
  flex:1;
  width:100%;
  justify-content: center;
  align-items:center;
  font-size:26px;
  display:flex;
  background:transparent;
}
.mainMenu>li {
	flex:1;
  display:flex;
  flex-flow:column nowrap;
  align-items:center;
  text-align:center;
	border-bottom: 1px dotted rgba(22,22,22,.3);
  background:rgba(255,255,255,1);
}

/*  
  MAIN MENU TOGGLE BUTTON
/*-----------------------------------------------------*/
/*Hide checkbox*/
#show-menu-input-checkbox{
	display: none;
}
/*Show menu when invisible checkbox is checked*/
#show-menu-input-checkbox:checked ~ .mainMenu{
	display: flex;
}
#main-menu-toggler {
  width:80px;
  height:80px;
  position:fixed;
  top:0;
  right:0;
  padding:24px;
  display:flex;
  justify-content:center;align-items:center;
}
#main-menu-toggler-icon:after,
#main-menu-toggler-icon:before {
content: "";
position: absolute;
left: 0;
top: -9px;
}
#main-menu-toggler-icon:after{
top: 9px;
}
#main-menu-toggler-icon {
position: relative;
display: block;
}
#main-menu-toggler-icon,
#main-menu-toggler-icon:after,
#main-menu-toggler-icon:before {
width: 100%;
height: 5px;
background-color:rgba(22,22,22,1);
transition: all 0.3s;
backface-visibility: hidden;
border-radius: 2px;
}
/* on menu activation */
#show-menu-input-checkbox:checked ~ #main-menu-toggler>#main-menu-toggler-icon {
background-color: transparent;
}
#show-menu-input-checkbox:checked ~ #main-menu-toggler>#main-menu-toggler-icon:before {
transform: rotate(45deg) translate(5px, 5px);
}
#show-menu-input-checkbox:checked ~ #main-menu-toggler>#main-menu-toggler-icon:after {
transform: rotate(-45deg) translate(7px, -8px);
}

/*
  MAIN MENU ON WIDE SCREENS
/*----------------------------------------------------------*/
@media only screen and (min-width: 1080px) {
	header,.mainMenu,nav,main,article,footer{max-width:var(--maxSiteWidth);}
	/**HIDE THE MENU TOGGLER**/
	#main-menu-toggler{display:none;}
	/**APPLY HORIZONTAL BAR STYLING TO THE MAIN MENU**/
	.mainMenu{
    position: initial;
    display:flex;
    flex-flow:row nowrap;
    flex-direction: row;
    justify-content: flex-end;
    height:100px;
    margin-top:0;
  }
	.mainMenu>li {
    flex:1 0 auto;
    border-bottom:none;
    background:transparent;
    align-items:initial;
  }
	.mainMenu a{
    font-size:22px;
    width:auto;
    justify-content: flex-end;
    padding-left:16px;
  }
}
h1,h2{
  color:#07889b;
  font-weight: bold;
}

p:last-child {
  margin-bottom: 0;
}
p,
.tmpl-post li,
img {
  max-width: 37.5em; /* 600px /16 */
}
p,
.tmpl-post li {
  line-height: 1.45;
}
a[href] {
  color: var(--blue);
}
a[href]:visited {
  color: var(--navy);
}
main {
  padding: 1rem;
}
main :first-child {
  margin-top: 0;
}

table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}

pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  line-height: 1.5;
}
pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: .5em 0;
  background-color: #f6f6f6;
}
.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}
/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}
.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, .8);
}
.highlight-line-add {
  background-color: #45844b;
}
.highlight-line-remove {
  background-color: #902f2f;
}
main {
  font-family: Arial, Helvetica, sans-serif;
}
header h1 {
  padding-left: 10px;
}
main h1, main h2 {
  font-family: Roboto,Arial, Helvetica, sans-serif;
}
main a {
  text-decoration: underline;
}